@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Popcorn animation
.popcorn {
  position: fixed;
  top: 100%;
  font-size: 24px;
  animation: floatUp 4s ease-in infinite;
  z-index: 999;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh);
    opacity: 0;
  }
} */

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
